.element {
	margin-bottom: 60px;
	padding: 30px;
	background-color: white;
	border-color: white;
	border-radius: 3px;
	border-width: 2px;
}

ul, #review{
	border-color: white;
	border-radius: 3px;
	border-width: 2px;
}

body {
	background-color: #435E55;
}

table {
	border-color: #ef5350;
	border-radius: 2px;
	border-width: 2px;
}
#review {
	background-color: #F6F6F6;
}
#review:focus {
  border-bottom: 1px solid #d32f2f;
  -webkit-box-shadow: 0 1px 0 0 #d32f2f;
  -moz-box-shadow: 0 1px 0 0 #d32f2f;
  box-shadow: 0 1px 0 0 #d32f2f;
}

#users-review {
	border-left: 1px solid black;
	width: 65%;
	text-align: justify;
}

.review-div {
	margin-bottom: 50px;
	padding-bottom: 20px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	border-bottom: 2px solid #777;
	border-bottom: 2px solid #777;
}

.welcomer {
	margin-top: 60px;
}


.collapsible-header {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.collapsible-header:hover {
	background-color: #F59A9A;
}

#set-codes-field {
	float: left;
	display: inline;
	width: 40%;
}

#set-codes {
	float: right;
}

.edit-el {
	width: 100%;
	padding: 0;
	padding-bottom: 10px;
	margin: 0;
	margin-bottom: 60px;
	margin-top: 60px;
	border-bottom: 2px solid #F59A9A;
	border-radius: 3px;
}

.edit-el:last-child {
	margin-bottom: 0;
}

h3 .small {
	font-size: 20px;
}

.sect {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	padding-bottom: 0;
	width: 100%;
	border: 2px solid #F59A9A;
	border-radius: 5px;
	display: inline-block;
}

.sect p {
	font-weight: 700;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}

.desc {
	float: left;
	margin: 0;
	padding: 0;
	display: inline-block;
}
.points input {
	width: auto;
	text-align: center;
	border: none;
	padding: 0;
	height: 20px;
	background-color: rgb(220, 220, 220);
}

.points {
	float: right;
	display: inline-block;
}

.cat {
	width: 100%;
	margin: 0;
	margin-bottom: 12px;
	padding: 0;
	height: 100%;
	border-bottom: 3px dotted rgb(200, 200, 200);
	display: inline-block;
}

.cat:last-child {
	border: none;
}

.cat textarea {
	background-color: rgb(240, 240, 240);
}

.comment {
	background-color: white;
	font-style: italic;
}

.comment:before {
	content: "Kommentar: \"";
	font-style: normal;
	background: initial;
}

.comment:after {
	content: "\"";
}
.sign-up-course-form {
  width: 70%;
}

.absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}